body {
    background-color:  cornflowerblue;
}

#titulo {
    color: aquamarine;
    margin: auto;
    padding: 6px;
    border-style: outset;
    border-width: 6px;
    border-left: 6px solid greenyellow;
    border-right: 6px solid greenyellow;
}

h3 {
    color: fuchsia;
}

#tabla {
    background-color: antiquewhite;
    color: brown;
    margin: auto;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-left: 6px solid greenyellow;
    border-right: 6px solid greenyellow;
}