body {
    background-color:  mediumseagreen;
}

#titulo {
    color: aquamarine;
    margin: auto;
    padding: 6px;
    border-style: outset;
    border-width: 6px;
    border-left: 6px solid greenyellow;
    border-right: 6px solid greenyellow;
    height: fit-content;
    width: fit-content;
    border-radius: 8px;
}

#lorem {
    text-align: center;
}

.formulario {
    width: max-content;
    margin: auto;
    text-align: center;
    padding: 50px;
}
h3 {
    color: fuchsia;
}

#tabla {
    background-color: antiquewhite;
    color: brown;
    margin: auto;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-left: 6px solid greenyellow;
    border-right: 6px solid greenyellow;
    border-radius: 8px;

}